---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
  }

  body {
    background-color: #f3f3f3;
  }

  main {
    background-color: white;
  }
</style>
